weile-red-color = #E72F17
coupon-color = #46b0da
cash-coupon-color = #f59821
member-card-color = #EF3F27

header-height = 48px

transition()
  transition: arguments
  -webkit-transition: arguments
transform()
  transform: arguments
  -webkit-transform: arguments
box-shadow()
  box-shadow: arguments
  -webkit-box-shadow: arguments