@import '../common/func'

#view-cardbag-cardbag
  padding: 0 10px 80px
  .leshang-wrap
    .leshang
      padding-top: 18px
      margin-bottom: -4px
  .no-data-tip-wrap
    margin: 32px 12px
    text-align: center
    color: #666
    
        
  