@import '../common/func'

#view-purchase-cash-coupon
  .red 
    color: weile-red-color
  padding: 8px 16px 60px
  min-height: 100%
  background: #fff
  .order-list-wrap
    li 
      padding: 8px 0
    .count-wrap
      border-top: 1px dashed #ccc
      border-bottom: 1px dashed #ccc
      .title
        margin-top: 8px
  .pay-type-list-wrap
    margin-top: 12px
    li 
      padding: 10px 0
      line-height: 28px
    li.selected
      background: url('/img/radio-selected.png') no-repeat right center
      background-size: 28px
  .pay-btn-wrap
    margin: 16px
  .wechat-tip-wrap
    color: weile-red-color
    padding-bottom: 12px
      