@import '../common/func'

item-height = 40px

#view-user-city
  .block-title
    border-top: 1px solid #EBEBEB
    padding: 9px 16px 8px
    margin-top: -1px
  ul
    background: #fff
    li
      display: inline-block
      width: 25%
      height: item-height
      line-height: item-height
      text-align: center
      white-space: nowrap
      text-overflow: ellipsis
      border-bottom: 1px solid #EBEBEB
  .keys-wrap
    color: weile-red-color
  .footer
    height: 68px
      