#global-tip
  position: fixed
  right: 0
  bottom: 20%
  left: 0
  padding: 0 16px
  text-align: center
  .tip
    box-sizing: border-box
    display: inline-block
    min-height: 32px
    min-width: 88px
    padding: 7px 16px
    border-radius: 2px
    background: #333
    color: #fff
    vertical-align: middle
  