@import '../common/func'

#view-leshang-leshangs
  .leshangs-wrap
    background: #fff
    margin-top: 16px
    .leshang
      position: relative
      box-sizing: border-box
      height: 56px
      padding: 8px 10px 8px 76px
      font-size: 12px
      color: #f90
      i 
        font-size: 12px
        color: #f90
      img
        position: absolute
        top: 10px
        left: 8px
        width: 60px
        height: 36px
        border-radius: 2px
      .hot-wrap
        position: absolute
        top: 8px
        right: 10px
      .name
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
        padding-right: 30px
        font-size: 14px
        color: #000
      .star-wrap
        width: 56px
        .star
          white-space: nowrap
          overflow: hidden    
    .cards
      li
        position: relative
        padding: 8px 10px 8px 42px
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
        background: linear-gradient(#e0e0e0 0%,#e0e0e0 50%,#fff 50%,#fff 100%) no-repeat top
        background-size: 100% 1px
      li:before
        content: ''
        position: absolute
        top: 5px
        left: 12px
        width: 24px
        height: 24px
        line-height: 24px
        border-radius: 100px
        text-align: center
        color: #fff
      li.more
        padding: 8px
        color: weile-red-color
        text-align: center
      .card-1-0:before,.card-1-1:before
        content: '减'
        background: coupon-color
      .card-1-2:before
        content: '促'
        background: coupon-color        
      .card-1-3:before,.card-1-4:before
        content: '折'
        background: coupon-color
      .card-1-:before
        content: '惠'
        background: coupon-color
      .card-2-:before
        content: '代'
        background: cash-coupon-color
      .card-5-:before
        content: '会'
        background: member-card-color
          
  .bottom-status-wrap
    width: 180px
    height: 32px
    line-height: 32px
    margin: 20px auto 48px
    border: 1px solid #aaa
    border-radius: 100px
    text-align: center
    color: #555